* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#canvasContainer {
    background-color: black;
    width: 900px;
    height: 600px;
}

.container .img_size {
    width: 900px;
    max-height: 600px;
    background-color: black;
    display: flex;
    justify-content: center;
}

.container .img_size img {
    width: 600px;
    background-color: black;
}